$color-body : linear-gradient(45deg,#6D05F9,#D3ACF9,#D8F9F2,#0AA280);
$color-header : #9D4EFB;
$color-nav : #F1E0F9;
$color-contenedores : linear-gradient(-90deg,#6D05F9,#D3ACF9,#D8F9F2,#0AA280);
$color-backimg : linear-gradient(45deg,#6D05F9,#D3ACF9,#D8F9F2,#0AA280);
$color-footer : linear-gradient(#6D05F9,#D3ACF9,#D8F9F2,#0AA280);
$color-parrafo:#6D05F9;